#no sense tracking these types:
*.pdf
*.png
*.lyx
*.odt
*.ods
*.ots
*.ps
*.docx
*.pptx
*.zip
*.wpd
*.jpg
*.pngw
*.xlsx
*.dvi
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

#never ended up using this
round_one/Analysis and Plot.do

#no need for html until further notice
*.html

#data files
round_one/analysis_dictionary.csv
round_two/round_2_full_data.csv

#images in all different formats, all binary
round_one/images/

#documents associated with implementation (all binary)
#  should remain *LOCKED* so they aren't edited hereafter
round_two/FINAL_files_used_in_round_2

#presentation-associated folders
round_two/micro_lunch_160301_cache/
round_two/micro_lunch_160301-figure/
round_two/micro_lunch_160301_files/

#until something comes of it
round_three/

.Rhistory